@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src:  url('~/assets/fonts/Gilroy-Black.woff2') format('woff2'),
        url('~/assets/fonts/Gilroy-Black.ttf') format('ttf');
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 900;
  src:  url('~/assets/fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('~/assets/fonts/Gilroy-Heavy.ttf') format('ttf');
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src:  url('~/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('~/assets/fonts/Gilroy-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Industry';
  font-weight: 600;
  src:  url('~/assets/fonts/Industry-Demi.woff2') format('woff2')
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 800;
  src:  url('~/assets/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('~/assets/fonts/OpenSans-ExtraBold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src:  url('~/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('~/assets/fonts/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 500;
  src:  url('~/assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('~/assets/fonts/OpenSans-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  src:  url('~/assets/fonts/OpenSans-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'TuskerGrotesk';
  font-weight: 500;
  src:  url('~/assets/fonts/TuskerGrotesk-4500Medium.otf') format('opentype'),
        url('~/assets/fonts/TuskerGrotesk-4500Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'BigNoodleTitling';
  src: url('~/assets/fonts/bignoodletitling.woff2') format('woff2'),
  url('~/assets/fonts/bignoodletitling.ttf') format('ttf');
}

html {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  background-color: #e2dede;
  min-width: 425px;
  max-width: 1900px;
  margin: 0px auto;
  scroll-behavior: smooth;
  @apply text-zinc-900;
}

.container {
  @apply mx-auto px-10 lg:px-5 xl:px-24;
}

body.scroll-lock {
  overflow: hidden;
}

a {
  @apply transition duration-200 hover:text-purple-700
}

nav {
  background-image: url('~/assets/img/bg-nav.png');
}

header {
  background-image: url('~/assets/img/bg-header.webp');
}

#btn-header {
  background-image: url('~/assets/img/bg-button-pink.png');
}

#sec2 {
  background-image: url('~/assets/img/bg-sec-2.webp');
}
#sec2-card {
  background-image: url('~/assets/img/sec2-card.png');
}
#sec2-frame {
  background-image: url('~/assets/img/sec2-frame.svg');
}

#footer-mobile {
  background-image: url('~/assets/img/footer-black-bg-sm.jpeg');
}
#footer-social {
  background-image: url('~/assets/img/footer-purple-bg.png');
}
#footer-desk {
  background-image: url('~/assets/img/footer-black-bg.png');
}
.c-social-links a {
  @apply hover:text-white
}

/* --- vue transitions --- */
.nav-enter-active {
  animation: slide-in 0.4s;
}
.nav-leave-active {
  animation: slide-in 0.3s reverse;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}


